@model List<DataLayer.AboutUsSight>
<div class="card card-info m-2">
    <div class="card-header">
        <h3 class="card-title">چشم انداز ها</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    @foreach (var item in Model)
    {
        <div class="m-2">
            <p>@item.SightTitle</p>
        </div>
    }
    <div class="card-footer">
        <a href="/Admin/AboutUsSight" class="btn btn-info d-block w-100">مشاهده ی لیست</a>
    </div>
</div>