<form>
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="input-group radius-20 mt-1 mb-3">
                <span class="input-group-text border border-2 border-end-0 radius-20 bg-white px-3 py-4 fw-bold text-darkblue">
                    نام و نام خانوادگی
                </span>
                <span class="input-group-text border border-2 border-end-0 border-start-0 bg-white fs-12 px-3 py-4 text-pencil">
                    <span class="border border-2 border-start-0 border-top-0 border-bottom-0 pe-2">
                        (اجباری)
                    </span>
                </span>
                <input type="text" id="fullname"
                       class="form-control border border-start-0 radius-20 border-2 bg-white px-3 py-4"
                       placeholder="نام خانوداگی خود را وارد کنید" />
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="input-group radius-20 mt-1 mb-3">
                <span class="input-group-text border border-2 border-end-0 radius-20 bg-white px-3 py-4 fw-bold text-darkblue">ایمیل شما</span>
                <span class="input-group-text border border-2 border-end-0 border-start-0 bg-white fs-12 px-3 py-4 text-pencil">
                    <span class="border border-2 border-start-0 border-top-0 border-bottom-0 pe-2">
                        (اجباری)
                    </span>
                </span>
                <input type="email" id="Email"
                       class="form-control text-start border border-start-0 radius-20 border-2 bg-white px-3 py-4"
                       placeholder="ایمیل خود را وارد کنید" />
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="input-group radius-20 mt-1 mb-3">
                <span class="input-group-text border border-2 border-end-0 radius-20 bg-white px-3 py-4 fw-bold text-darkblue">موضوع پیام شما</span>
                <span class="input-group-text border border-2 border-end-0 border-start-0 bg-white fs-12 px-3 py-4 text-pencil">
                    <span class="border border-2 border-start-0 border-top-0 border-bottom-0 pe-2">
                        (اجباری)
                    </span>
                </span>
                <input type="text" id="Subject"
                       class="form-control border border-start-0 radius-20 border-2 bg-white px-3 py-4"
                       placeholder="موضوع پیام خود را وارد کنید" />
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="input-group radius-20 mt-1 mb-3">
                <span class="input-group-text border border-2 border-end-0 radius-20 bg-white px-3 py-4 fw-bold text-darkblue">
                    شماره موبایل
                </span>
                <span class="input-group-text border border-2 border-end-0 border-start-0 bg-white fs-12 px-3 py-4 text-pencil">
                    <span class="border border-2 border-start-0 border-top-0 border-bottom-0 pe-2">
                        (اجباری)
                    </span>
                </span>
                <input type="text" id="Phonenumber"
                       class="form-control text-start border border-start-0 radius-20 border-2 bg-white px-3 py-4"
                       placeholder="شماره موبایل خود را وارد کنید" />
            </div>
        </div>
        <div class="col-lg-12 col-md-12">
            <div class="input-group radius-20 mt-1 mb-3">
                <span class="input-group-text border border-2 border-end-0 radius-20 bg-white text-darkblue">
                    <span class="mt-n50 fw-bold">متن پیام ارسالی</span>
                    <span class="mt-n50 text-pencil ms-3 pe-3 fs-12 border border-2 border-start-0 border-top-0 border-bottom-0">
                        (اجباری)
                    </span>
                </span>
                <textarea rows="5" id="Text"
                    style="resize:none;"
                          class="form-control text-start border border-start-0 radius-20 border-2 bg-white px-3 py-4"
                          placeholder="متن پیام ارسالی خود را وارد کنید"></textarea>
            </div>
        </div>
        <div class="col-lg-9 col-md-12">
            <p id="MessageResult" class="text-red mt-5 d-inline-block me-4">
            </p>
        </div>
        <div class="col-lg-3 col-md-12 pt-4">
            <a onclick="SubmitMessage()" class="blue-btn d-block w-100 fs-6 text-center py-4">
                ارسال پیام
            </a>
        </div>
    </div>
</form>
