@section NavbarJs {
    <script src="/Assest/js/Scrolled-WhiteNav.js"></script>
}
@section Navbar {
    <partial name="_WhiteNavbar"></partial>
}
@section SeoTags {
    @await Component.InvokeAsync("MainSeoTags")

}
<!--Content-->
<article class="position-relative">
    <div class="bg-silver p-5 position-relative">
        <!-- Article Content -->
        <div class="container">
            <!--Blog News title-->
            <div data-aos="fade-up" data-aos-duration="1800">
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <h1 data-i18n-key="privacyTitle" class="text-darkblue fw-bold fs-2 font-ExtraBold lh-lg">
                            سیاست حریم خصوصی
                        </h1>
                    </div>
                    <div class="col-lg-4 col-md-12">
                      
                    </div>
                </div>
            </div>
            <br />

            <br />
            <!--Blog News title-->
        </div>
        <!-- Article Content -->
    </div>
    <div class="p-lg-5 position-relative">
        <div class="container">
            <!-- Article Content -->
            <div data-aos="fade-up" data-aos-duration="1800" class="mb-5">
                <p data-i18n-key="privacyDetail">
                    سیاست حفظ حریم خصوصی
                    «دوازده» به حریم خصوصی کاربران خود احترام می‌گذارد و متعهد به حفاظت از اطلاعات شخصی است که شما در اختیار آن می‌گذارید.
                    جمع آوری اطلاعات
                    از آنجا که جمع‌آوری و پردازش اطلاعات شخصی، بخش غیرقابل اجتنابی در فرایندهای مبتنی بر گوشی همراه و اینترنت است، لذا آگاهی کامل از سیاست و عملکرد دوازده در این زمینه، ‌ضروری‌ ‌است:
                    ۱) اطلاعاتی که شما مستقیما در دوازده ثبت می‌کنید:بخشی از اطلاعاتی که دوازده ذخیره می‌کند اطلاعاتی است که شما به صورت مستقیم در فرآیند ثبت نام، در برنامه ثبت می‌کنید. این اطلاعات شامل نام کاربری، شماره تلفن همراه یا ایمیل برای دریافت کد تایید می‌باشد.
                    ۲) اطلاعات درون برنامه:علاوه بر اطلاعاتی که شما به صورت مستقیم در برنامه ثبت می‌کنید، اطلاعات و دسترسی‌هایی در زمان استفاده از برنامه مورد نیاز است. اطلاعات درون برنامه در صورت تایید کاربر ثبت خواهد شد و این بخش کاملا اختیاری است. قاعدتاً عدم تایید این دسترسی‌ها، اجرای برخی از منوها را با مشکل مواجه خواهد کرد. این اطلاعات به شرح زیر است:
                    ۱. اطلاعات مکانی:اطلاعات مکانی شما برای استفاده از اوقات شرعی در تقویم، ثبت می‌شود.
                    ۲. امکان ضبط صدا:در بخش ذکرشمار، می‌توانید اذکار را با صدای خودتان ضبط و استفاده کنید. دسترسی به امکان ضبط صدا، برای این موضوع است.
                    ۳. دسترسی‌های زمینه‌ای:پخش صوت شامل موسیقی، مداحی، سخنرانی صوتی و... ؛ دانلود محتوای برنامه توسط کاربر شامل پوسترها، مقالات، ویدیوها و... نیاز به دسترسی به حافظه گوشی موبایل کاربران دارد.
                    تیم پشتیبانی اپلیکیشن دوازده، به شما کاربران عزیز این اطمینان را می‌دهد که تمام تلاش خود را برای حفظ و حراست از اطلاعات کاربران به کار برد و این اطلاعات به جز در موارد ذکر شده، استفاده نخواهد شد..
                </p>
            </div>
            <br />
            <!-- Content -->
            <!-- Article Content -->
        </div>
    </div>

</article>

<!--Content-->
<script>

</script>
