<footer class="py-5">
    <div class="container-fluid footer-container">
        <a href="#"
           class="btn-up text-light rounded-circle text-center text-light">
            <span class="fa fa-angle-up fs-5"></span>
            برو به بالا
        </a>

        @await Component.InvokeAsync("FooterData")


    </div>
</footer>