@model List<DataLayer.IntroduceSlider>
<div class="phone-cover">
    <div class="carousel-inner">
        @foreach (var item in Model)
        {
            if (item == Model[0])
            {
                <div class="carousel-item active">
                    <img src="/Images/Sliders/@item.ImageName"
                         class="w-h-100 radius-20" />
                </div>
            }
            else
            {
                <div class="carousel-item">
                    <img src="/Images/Sliders/@item.ImageName"
                         class="w-h-100 radius-20" />
                </div>
            }
        }
    </div>
</div>