@model ViewModels.ContentItemViewModel

<div class="row">
    <div class="col-lg-6 col-md-12 my-2">
        <p class="text-green2 fw-bold my-3">@Model.SubTitle</p>
        <h2 class="text-darkblue fw-bold font-ExtraBold">
            @Model.Title
        </h2>
    </div>
    <div class="col-lg-6 col-md-12 my-2"></div>
    <div class="col-lg-12 col-md-12 my-2">
        <p class="text-pencil text-justify">@Model.Description</p>
    </div>
</div>