@model ViewModels.ContentItemViewModel
<h2 class="text-darkblue fw-bold mt-5 font-ExtraBold">
    @Model.Title
</h2>
<p class="text-green2 mt-4">@Model.SubTitle</p>
<p class="text-darkblue mt-4">@Model.Description</p>