@model ViewModels.ContentItemViewModel

<div class="row mb-5">
    <div class="col-lg-6 col-md-12">
        <h1 class="text-darkblue fw-bold fs-1 font-ExtraBold">
            @Model.Title
        </h1>
    </div>
    <div class="col-lg-6 col-md-12">
        <p class="text-green2 fw-bold fs-5">
            @Model.SubTitle
        </p>

        <p class="text-pencil text-justify my-3">@Model.Description</p>
    </div>
</div>
