@model List<ViewModels.AdvertisementsItemViewModel>
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            لیست تبلیغات
                            <a href="/Admin/Advertisements/Create" class="btn btn-outline-success mx-3">افزودن تبلیغ</a>
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div id="BlogTable">
                        @if (Model.Any())
                        {
                            <div class="card-body table-responsive p-0">
                                <table class="table table-bordered table-hover">
                                    <tbody>
                                        <tr>
                                            <th>تصویر</th>
                                            <th>عنوان</th>
                                            <th>لینک</th>
                                            <th>*</th>
                                        </tr>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td><img src="/Images/Ads/@item.ImageName" width="200" height="100" /></td>
                                                <td>@item.Title</td>
                                                <td>@item.Link</td>
                                                <td>
                                                    <a href="/Admin/Advertisements/Update/@item.AdvertisementID" class="btn btn-outline-warning rounded mx-1" title="ویرایش">
                                                        <span class="fa fa-edit"></span>
                                                    </a>
                                                    <a href="/Admin/Advertisements/Delete/@item.AdvertisementID" class="btn btn-outline-danger rounded mx-1" title="حذف">
                                                        <span class="fa fa-trash"></span>
                                                    </a>
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        }
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div><!-- /.container-fluid -->
</div>
