@model List<ViewModels.IndexSliderItemViewModel>


<div class="col-lg-5 col-md-12">
    @if (Model.Any())
    {
        <div id="FeaturesSlider"
             class="carousel slide"
             data-bs-ride="true">
            <div class="position-relative">
                <div class="carousel-inner aghaz">
                    @foreach (var item in Model)
                    {
                        @if (Model[0] == item)
                        {
                            <div class="carousel-item carousel-aghaz active">
                                <a href="@item.Link">
                                    <img src="/Images/Sliders/@item.ImageName"
                                         alt="@item.Title" />
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="carousel-item carousel-aghaz">
                                <a href="@item.Link">
                                    <img src="/Images/Sliders/@item.ImageName"
                                         alt="@item.Title" />
                                </a>
                            </div>
                        }
                    }

                </div>
                <div class="slider-btn">
                    <div class="bg-white text-center carousel-buttonsGroup">
                        <a class="btn btn-light carousel-button"
                           data-bs-target="#FeaturesSlider"
                           data-bs-slide="next">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="20"
                                 height="20"
                                 viewBox="0 0 250 250">
                                <defs>
                                    <style>
                                        .cls-1 {
                                            fill: #8f8f8f;
                                            fill-rule: evenodd;
                                        }
                                    </style>
                                </defs>
                                <path class="cls-1"
                                      d="M100.559,58.516L157.4,115.36a13.611,13.611,0,0,1,0,19.248l-0.275.276L90.66,68.416A7,7,0,1,1,100.559,58.516Z" />
                                <path class="cls-1"
                                      d="M90.66,181.553l66.282-66.282a0.261,0.261,0,0,1,.371,0,13.736,13.736,0,0,1,0,19.427l-56.754,56.754A7,7,0,1,1,90.66,181.553Z" />
                            </svg>
                        </a>
                        <a class="btn btn-light carousel-button"
                           type="button"
                           data-bs-target="#FeaturesSlider"
                           data-bs-slide="prev">
                            <svg style="transform: rotate(180deg)"
                                 xmlns="http://www.w3.org/2000/svg"
                                 width="20"
                                 height="20"
                                 viewBox="0 0 250 250">
                                <defs>
                                    <style>
                                        .cls-1 {
                                            fill: #8f8f8f;
                                            fill-rule: evenodd;
                                        }
                                    </style>
                                </defs>
                                <path class="cls-1"
                                      d="M100.559,58.516L157.4,115.36a13.611,13.611,0,0,1,0,19.248l-0.275.276L90.66,68.416A7,7,0,1,1,100.559,58.516Z" />
                                <path class="cls-1"
                                      d="M90.66,181.553l66.282-66.282a0.261,0.261,0,0,1,.371,0,13.736,13.736,0,0,1,0,19.427l-56.754,56.754A7,7,0,1,1,90.66,181.553Z" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>