@model List<ViewModels.FaqsItemViewModel>

<h3 class="text-darkblue fw-bold my-5">
    <span data-i18n-key="featuredQuestions">سوالات برگزیده</span> @Model[0].GroupName
</h3>
<div class="accordion-faq accordion" id="Q_@(Model[0].GroupID)">
    @foreach (var item in Model)
    {
        <div class="accordion-item-faq accordion-item my-2">
            <h2 class="accordion-header-faq accordion-header"
                id="h_@(item.FaqID)">
                <button class="accordion-button-faq accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#q_@(item.FaqID)"
                        aria-expanded="false"
                        aria-controls="q_@(item.FaqID)">
                        @item.Question
                    </button>
            </h2>
            <div id="q_@(item.FaqID)"
                 class="accordion-collapse collapse"
                 aria-labelledby="h_@(item.FaqID)"
                 data-bs-parent="#Q_@(Model[0].GroupID)">
                <div class="accordion-body p-4">
                    <p class="text-pencil">@item.Answer</p>
                </div>
            </div>
        </div>

    }
</div>