@model ViewModels.ContentItemViewModel
<p class="text-green2 mt-3 mb-5">@Model.SubTitle</p>
<h3 class="text-darkblue font-ExtraBold fs-1 mb-3 font-ExtraBold">
    @Model.Title
</h3>
<p class="text-pencil">@Model.Description</p>