@model DataLayer.FaqContent
<div class="row mb-5">
    <div class="col-lg-6 col-md-12 mt-5">
        <h1 class="text-darkblue fw-bold fs-1 font-ExtraBold">
            @Model.FaqContentTitle
        </h1>
    </div>
    <div class="col-lg-6 col-md-12 mt-5">
        <p class="text-green2 fw-bold fs-5">@Model.FaqContentSubTitle</p>
        <p class="text-pencil text-justify my-5">@Model.FaqContentDescription</p>
    </div>
</div>